@import 'shadows';



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1.app-name > a > i {
  padding-right: 1em;
}
.hello {
  height: 20em;
  padding-top: 5em;
}
.hello .icon {
  text-align: center;
}
.profile-login{
  @include card(1);
  //height: 6em;
  .profile-avatar{
      display: inline-block;
      width: 3em;
      height: 5em;

  }
  .profile-name {
    padding: 1em;
  }

  &:hover { 
      cursor: hand; 
      cursor: pointer; 
      @include card(2); 
      height: 10.5em;
      transition: box-shadow 100ms linear, height 1s ease; 
      
      .profile-avatar { width: 6em; height: 10em; transition: width 1200ms ease,  height 1200ms ease; }
  }

}
.app.content{
  padding-top: 2em;
}


