@import 'shadows';

$row-width: rem-calc(100%);

@import '../public/components/foundation/scss/foundation.scss';

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1.app-name > a > i {
  padding-right: 1em;
}

.hello {
  height: 20em;
  padding-top: 5em;
}
.hello .icon {
  text-align: center;
}
.profile-login {
  @include card(1);
  //height: 6em;
  .profile-avatar {
    display: inline-block;
    width: 3em;
    height: 5em;
  }
  .profile-name {
    padding: 1em;
  }
  &:hover {
    cursor: hand;
    cursor: pointer;
    @include card(3);
    height: 10.5em;
    transition: box-shadow 100ms linear, height 1s ease;
    .profile-avatar {
      width: 6em;
      height: 10em;
      transition: width 1200ms ease, height 1200ms ease;
    }
  }
}
.app.content {
  padding-top: 2em;
}
.movie {
  height: 30em;
  width: 50%;

  .bottom-box {  }
}
.profile.other {
  height: 10em;
  position: relative;
  .avatar{
      width: 5em;
      height: 100%;
  }
  h5{ font-size: 0.8em;}
  .bottom-box {
    padding: 0.2em;
  }
}
.movie.large{
  width: 100%;
}
.movie,
.profile.other {
  cursor: hand; cursor: pointer;

  @include card(1);
  position: relative;
  margin: 0 auto;
  margin-bottom: 1em;
  &:hover {
    @include card(3);
    .bottom-box {
      background-color: #008CBA !important;
      transition: background-color 300ms ease, box-shadow 300ms ease;
    }
  }
  .bottom-box {

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    h5 {
      padding: 1em;
      color: white;
      text-shadow: 1px 1px 1px #FCFCFC;
      .mini-box {
        margin-right: 1em;
      }
    }
  }
}
