<!DOCTYPE html>
<html lang="en" ng-app="wk-movie-o-rama">

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <base href="/">

  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/angular-route/angular-route.min.js"></script>
  <script src="/components/ngstorage/ngStorage.min.js"></script>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/foundation/js/foundation.min.js"></script>
  <link rel="stylesheet" href="/components/foundation/css/foundation.min.css">
  <link rel="stylesheet" href="/components/fontawesome/css/font-awesome.min.css">

  <script src="/components/modernizr/modernizr.js"></script>
</head>

<body>
  <div class="row">
    <div class="large-12 columns">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1 class="app-name"><a href="#"><i class="fa fa-ticket"></i>wk-movie-o-rama</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon">
            <a href="#">
              <span>Menu</span>
            </a>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
           <ul class="right">
                <li ><login-link></login-link></li>
            </ul>

          <!-- Left Nav Section -->

        </section>
      </nav>
      <div ng-view>
      {{{body}}}
      </div>
      <script type="text/javascript" src="/javascripts/auth-wkmor.js" ></script>
      <script type="text/javascript" src="/javascripts/profiles-wkmor.js" ></script>
      <script type="text/javascript" src="/javascripts/main.js" ></script>
    </div>
  </div>
</body>

</html>
