<div class="row">
  <div class="medium-2 hide-for-small  columns">
    <dashboard-menu></dashboard-menu>
  </div>
  <div class="medium-8 end columns">
    <div id="spinner" class="row" ng-show="loading">
      <div class="small-2 small-centered columns">
        <i class="fa fa-spinner fa-pulse fa-4x"></i>
      </div>
    </div>
    <div class="row" ng-hide="loading">
      <div class="small-12 columns">
        <h4>{{profile.username}}</h4>
      </div>
    </div>
    <div class="row" ng-hide="loading">
      <div class="small-12 medium-12 large-4 columns">
          <div class="profile large" profile-avatar="/api/profiles/{{profile.id}}/avatar"></div>
      </div>
      <div class="small-12 medium-12 large-8 columns" >
        <ul class="accordion" data-accordion>
          <li class="accordion-navigation">
            <a href ng-click="accordionToggle.toggleShares()" ><i class="fa fa-heart"></i> My shares</a>
            <div id="shares" ng-class="accordionToggle.shares ? 'content active': 'content'">
              Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
          <li class="accordion-navigation">
            <a href ng-click="accordionToggle.toggleLikes()" ><i class="fa fa-thumbs-up"></i> My likes</a>
            <div id="likes" ng-class="accordionToggle.likes ? 'content active': 'content'">
              Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>