body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1.app-name > a > i { padding-right: 1em; }

.hello {height: 20em; padding-top: 5em;}
.hello .icon {text-align: center;}
