.movie-gallery {
	display: grid;
	grid-gap: 10px;
	margin-top: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.movie-gallery .movie {
	box-shadow: 2px 2px 5px var(--shadow-color);
	padding: 1rem;
	display: grid;

	grid-template-areas: "cover title"
		"cover description "
		"cover description";
	grid-template-rows: 3rem;
	transition: background-color ease-in 400ms;
}

.movie-gallery .movie .movie-cover {
	grid-area: cover;
}

.movie-gallery .movie .movie-title {
	font-weight: bold;
	grid-area: title;
}

.movie-gallery .movie .movie-title a {
	text-decoration: none;
}

.movie-gallery .movie:hover {
	background-color: var(--highlight-color);
}

.movie-gallery .movie:hover .movie-title {
	text-decoration: underline;
}

.movie-gallery .movie .movie-description {
	grid-area: description;
}

.movie-gallery .movie .movie-cover {
	width: 8rem;
	height: 10rem;
}
