.movie-article .movie-article-cover {
	object-fit: cover;
	width: 100%;
	max-width: 20rem;
	align-self: center;
	justify-self: center;
}

.movie-article .movie-article-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
