.movie-article .movie-article-cover {
	object-fit: cover;
	width: 100%;
	padding: 1rem;
	max-width: 20rem;
	align-self: center;
	justify-self: center;
}

.movie-article .movie-article-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	grid-gap: 1rem;
}


.movie-article .like-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-article .movie-counters {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.movie-article .action-boxes .box {
	padding: 1rem;
	display: block;
}

.movie-article .action-boxes .box button .icon {
	margin-right: 1rem;
}

.movie-article .action-boxes button {
	display: block;
	width: 100%;
	padding: 10px;
	background: none;
	transition: background-color ease-in 400ms;
}

.movie-article .action-boxes button:not(:disabled):hover {
	background-color: var(--highlight-color);

}

.movie-article .action-boxes .dotted-wrapper {
	border: 1px dotted var(--shadow-color);
}

.movie-article .action-boxes .dotted-wrapper .wrapper-legend {
	text-align: left;
	margin: .5rem;
}


.movie-article .action-boxes .share-box .share-box-form {

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.movie-article .action-boxes .share-box .share-box-form .share-box-form-message,
.movie-article .action-boxes .share-box .share-box-form .share-box-form-user {
	display: flex;
	align-items: center;
	width: 100%;
	padding: .5rem;
}

.movie-article .action-boxes .share-box .share-box-form .share-box-form-user .selected {
	color: var(--green);
}

.movie-article .action-boxes .share-box .share-box-form .share-box-form-message {}

.movie-article .action-boxes .share-box .share-box-form input {
	width: 100%;
}

.movie-article .action-boxes .share-box .share-box-form .icon {
	margin-right: .5rem;
}

/* .movie-article .like-button,
.movie-article .share-button {
	border: none;
	font-size: 2rem;
}

.movie-article .like-button {
	color: var(--like-color);
}

.movie-article .like-button .fa-heart {
	transition: filter ease-in 200ms;
}

.movie-article .like-button:hover .fa-heart {
	filter: drop-shadow(1px 2px 2px var(--highlight-color)) drop-shadow(-2px -1px 2px var(--highlight-color));
} */



/* .movie-article .share-counter .share-icon {
	font-size: 2rem;
	margin: 1rem;
}

.movie-article .share-button .fa-share-alt {
	transition: filter ease-in 400ms;
}

.movie-article .share-button:hover .fa-share-alt {
	filter: drop-shadow(1px 2px 2px var(--highlight-color)) drop-shadow(-2px -1px 2px var(--highlight-color));
} */
