.profile-list {
	margin-top: 1rem;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr))
}

.profile-list .profile .login-button {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
}

.profile-list .profile:hover .login-button {}



.profile-username {
	font-size: 1rem;
}

.login-button {}

.login-button:hover {
	box-shadow: 2px 2px 2px var(--shadow-color),
		-2px -2px 2px var(--shadow-color);
}

.profile-avatar {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 2px solid var(--shadow-color);
}
