.errors-box {
	background-color: white;
	width: 80%;
	color: red;
	position: absolute;
	top: 1rem;
	left: 10%;
	box-shadow: 4px 4px 5px var(--shadow-color);
	padding: 1rem;
}

.errors-box .error {
	padding: 1rem;
	margin: .5rem;
	border: 1px dashed red;
}
