@import 'reset.css';
@import 'variables.css';
@import 'fonts.css';

html,
body {
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	font-weight: bold;
	background-color: #222;
	padding: 20px;
	color: white;
	display: flex;
	align-items: center;
	height: 3rem;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.App-main {
	display: grid;
}


.App-content h2 {
	font-weight: bold;
	margin: 1rem 0;
}

.App-content p {
	font-family: 'Source Serif Pro', 'Times New Roman', Times, serif;
	padding: 1rem;
	line-height: 1.5rem;
	text-align: left;
}

.App-navigation {
	background-color: var(--navigation-background-color);
}

.App-navigation ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.App-navigation li {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	transition: all ease 500ms;
}

.App-navigation li:hover {
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.App-navigation li a,
.App-navigation li button {
	color: var(--white);
	text-decoration: none;
	display: block;
	padding: 1rem;
}

.App-navigation li a:hover {}

.App-navigation .nav-menu-icon {
	margin-right: 1rem;
}

@media screen and (min-width:495px) {

	.App-main {
		grid-template-columns: 10rem auto;
		height: calc(100vh - 5rem)
	}

	.App-content {
		padding: 1rem;
	}
}
