:root {
	--navigation-background-color: rgb(51, 51, 58);
	--shadow-color: rgb(66, 66, 66);
	--highlight-color: rgba(0, 204, 255, 0.5);
	--like-color: red;
	--white: #FFFFFF;
	--green: rgb(104, 250, 160);

}
